.section--features {
  padding-top: 100px;
}

.feature {
  
  &__img {
    width: 950px;
    max-width: none;
  }
  
  &__description {
    max-width: 650px;
    line-height: 250%;
    
    .text--featured {
      color: $font-color-light;
    }
  }
}
