.team-member__popup
  .team-member.padding--large.shadow--far.position--relative
    span.icon--close.team-member__close
    .team-member__avatar.margin--medium-default-right
      img.team-member__img.carousel__img( src!="" )
      .team-member__media.carousel__media
        ul.list.list--reset.list--inline.list--margin
          li.list__item.list__item--media-carousel
            a(href="#" title="Facebook" target="_blank")
              span.icon--facebook-logo-monochrome.icon--default.icon--color-facebook
          li.list__item.list__item--media-carousel
            a(href="#" title="Twitter")
              span.icon--twitter-logo-monochrome.icon--default.icon--color-twitter
          li.list__item.list__item--media-carousel
            a(href="#" title="LinkedIn")
              span.icon--linkedin-logo-monochrome.icon--default.icon--color-linkedin
    .team-member__description
      .team-member__title.carousel__title(title="Mihau Biauek")
      .team-member__subtitle.carousel__subtitle(title="CEO") CEO
      .team-member__bio If you like our work and you would like to get in touch us just send us a short message and click the SEND button. We will answer your inquiry in the shortest time possible.
        | Very often patients ask us to tell them all about the treatment options and pricing during this initial contact, which is not always possible. That is the reason why we have created this web site so you can see all the
