$color-typo-primary: #262626;
$color-border-primary: $color-typo-primary;
$primary-color: #26c6da;
$primary-color-dark: #2fb3c4;
$color-pink: #f44d68;
$color-dark-pink: #ee2848;
$color-footer: #555555;
$color-celadon: #b2ebf2;
$color-gray: #929292;
$color-gray-light: #c2c2c2;